Package: ubuntu-custom-kd
Version: 12.04-kd1ubuntu1
Architecture: all
Maintainer: Sato Daisuke <densuke@ex.kobedenshi.ac.jp>
Installed-Size: 6
Depends: dconf-gsettings-backend | gsettings-backend, libreoffice-l10n-ja, firefox-locale-ja, thunderbird-locale-ja, fonts-takao-pgothic, fonts-takao-gothic, fonts-takao-mincho, poppler-data, cmap-adobe-japan1, ibus-anthy, ibus-mozc, ibus-skk, kasumi, ddskk, subversion, git, zsh, nkf, openjdk-7-jdk
Conflicts: ubuntu-default-settings, ubuntu-desktop-ja
Replaces: ubuntu-desktop-ja
Provides: ubuntu-default-settings
Section: metapackages
Priority: optional
Description: Default settings for Ubuntu customizations
 This package contains customized default settings.
